/* Parte del Index desktop  */
* {
  padding: 0;
  margin: 0;
}

img{
  max-width: 100%;
}


h1 {
  
  color:blanchedalmond;
  display: flex;
 justify-content: center;

}
h1 {
  animation-duration: 2s;
  animation-name:aparecer;
  animation-iteration-count:infinite ;
}
@keyframes aparecer {
  0% {
    opacity:0 ;

  }


  100% {
      opacity:1 ;
  }
}


h2 {
  color:rgb(222, 170, 179);
  display: flex;
    justify-content: center;
}
h3 {
  color:antiquewhite;
  font-family: 'Roboto', sans-serif;
}

h4 {
  color: antiquewhite;
}
h5 {
  color: antiquewhite;
}

p {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color:rgba(23, 21, 21, 0.875);
}


header {
background-image:url(../img/fondo.jpg) ;
background-size: cover;
background-attachment:fixed;
background-repeat:no-repeat ;

}

/*redes sociales para desktop*/



.icon-preview {
  margin-left:1600px ;
  width:30px ;
}

.icon-insta {
  margin-left:1600px ;
 width:30px;
}
.icon-youtube {
  margin-left:1600px ;
  width:30px ;

}
.icon-whatsapp {
  margin-left:1600px ;
  width:30px ;
}

/*redes sociales para media querie dispo medianos */
 

   @media screen and (max-width:768px) 
   {
    
.icon-preview {
  margin-left:700px ;
  width:30px ;
}

.icon-insta {
  margin-left:700px ;
 width:30px;
}
.icon-youtube {
  margin-left:700px ;
  width:30px ;

}
.icon-whatsapp {
  margin-left:700px ;
  width:30px ;
}
   } 

   /*redes sociales para media querie dispo pequeños */
   @media screen and (max-width:460px) 
   {
    .icon-preview {
      margin-left:350px ;
      width:30px ;
    }
    
    .icon-insta {
      margin-left:350px ;
     width:30px;
    }
    .icon-youtube {
      margin-left:350px ;
      width:30px ;
    
    }
    .icon-whatsapp {
      margin-left:350px ;
      width:30px ;
    }
   }


.video-escuela {
  width: 800px; 
  height: 600px;
}





.logo { 
    
   
  width:50px ;
  height:50px ;
  position:fixed;
  
   
  }


  .navegacion {
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
   margin-right:2.5rem;
    
}

.navegacion li {

  transition:6s ;

  }

  .navegacion li :hover {
   color: rgb(252, 69, 99)  ;
    }
  
    




li a {
color:rgb(243, 208, 214);

}

.fuente-media {


font-size:2rem ;
font-style: italic;
font-weight:lighter ;
}

a { 
text-decoration-style: none;
text-decoration-line: none;
}
.video-escuela {
  width: 800px; 
  height: 600px;
}


.grid  {
  
    display: grid;
    grid-template-columns:1 , 1fr ;
    grid-template-rows:4,1fr ;
    }
 
  .grid div  {

    border:solid 2px rgb(245, 245, 245)
  }
   




.item2 {
  background-image:linear-gradient(to right ,grey,rgb(226, 96, 117)) ;
  
}

.item3 {
  background-image:linear-gradient(to left ,rgb(226, 96, 117),grey);
  
  }




  /*index para dispositivos mas grandes*/
  @media screen and (max-width:768px) {

    
    body {
      background-color: rgb(181, 116, 241);
    }
    .video-escuela {
      width: 400px;
      height:300px;
     
     }

    }

   
    
  
    /*index para dispositivo moviles pequeños*/

@media  screen and (max-width :460px)
    
{ body {
 background-color:rgb(160, 68, 83) ;
  }
 .navegacion{
    display:flex;
    flex-direction: column;

  }
  .video-escuela {
    width: 350px;
    height:300px;
  }

  
}



/*empieza docentes*/




.docentes {
  display:flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
 }
 
 .foto-profe {
  

  height: 12rem;
   width:12rem;
   
}



/*empieza clases*/

table {
  color:antiquewhite;
}







#lista-desordenada {
  color:aliceblue;
  margin-bottom:100px ;
  font-weight:bold ;
}

ol {
  color: aliceblue;
}

@media screen and (max-width:460px) 
{
  .foto-clase {
    width:300px ;
  }
}





/*acá empieza Muestras */

.grilla {
  display: grid;
}



 .tienda {
  border:solid 2px rgb(245, 245, 245)
  
}
.tienda {
  display: flex;
  justify-content: center;
  background-image:linear-gradient(to left ,grey, rgb(226, 96, 117)) ;
}

.galeria {
  /*puedp hacer algo con grid en galeria*/
 display: flex;
  flex-direction: column;
  

  width: 536px;
  height:363px;
}

/* media querie para dispositivos moviles medianos muestras*/

@media screen and (max-width :768px) {
   .galeria {
      grid-area: galeria;
      width:348px;
    
  
    }

    .grilla {
      display: grid;
      grid-template-columns: 2 ,1fr;
    
     
      grid-template-areas:
      "galeria galeria tienda"
      "galeria galeria tienda"
       " footer footer footer"
    ;
     }
  
    }
  
 


    




/*media querie para dispositivos pequeños muestras  */
 
 /*tienda*/
 @media screen and (max-width: 460px) {

 
  .tienda {
    width:318px ;
    height: 1770px ;
    margin-top:10px ;
    
  }
  .card-muestra{
    width:181px ;
    height:500px;
  margin-bottom:50px ;
  margin-right: 65px;
  
    
  }



  .galeria
   {
    width:105px;
   height:106px;
   
   
  }
   
  
  .card-foto {
    width:50px ;
    height:50px;
  }
   .grilla {
   
  display: grid;
      grid-template-columns: 2 ,1fr;
      grid-template-areas:
      "galeria  tienda"
      "galeria  tienda"
       " footer footer"
    ;
    }
   }


    
  




/*Acá empieza contactos versión desktop */



.caja-mala {
  border:solid 0.20rem ;
   padding:4rem;
   display:inline-block;
   font-size:1.6rem ;
   width:1rem ;
   height:1rem;
   font-family:arial;
   overflow:visible;
   background-image:linear-gradient(to left ,grey, rgb(226, 96, 117)) ;
   }
.card {
   border:solid .1rem pink ;
   width:20rem ;
   padding:2rem;
   position:relative;
   
}

.caja-flex {
   display: flex;
}

.adulg {
   border:solid .1rem pink ;
   width:20rem ;
   padding:2rem;
   position:relative;

}



div {

   margin-top:50px ;
color:antiquewhite;
font-weight:bolder;
}


.card_parrafo {
   font-size:1rem;
   margin-bottom:2rem ;
}

.card_image {
   width:20rem ;
   height:20rem ;
}
.boton {
   padding :1rem;
   margin-bottom:5rem ;
}

.mapa {
   margin-top:2rem;

}


footer {
   color:antiquewhite;
}



form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
} 


  



/* media querie para dispositivos moviles medianos contacto*/


@media screen and (max-width:768px) 
{
  .card {
    width:100px ;

  }
  .card_image {
    height: 150px;
  }
  
}

/*media querie para dispositivos pequeños contacto */

 @media screen and (max-width:460px) 
 {
  .caja-flex {
    display: flex;
    flex-direction: column;
  }
  .card {
    width:200px ;

  }

  .card_image {
    width:400px;
    height: 283px;
 }
 .mapa {
  width: 352px;
 }
 }





 
